body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #312d5d, #92488e);
    display: flex;
    justify-content: center;
    padding: 60px;
}

.todoSection,
.completedSection,
.deletedSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 75vh;
    background-color: #f1f2f4;
    position: relative;
    border-radius: 25px;
    width: 20%;
    margin-left: 40px;
    margin-top: 50px;
    overflow: hidden;
}

.todoInput {
    padding: 12px;
    font-size: medium;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.todoInput:hover {
    background-color: #fcfcfc;
}

.addBtn {
    padding: 12px 16px;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.addBtn:hover {
    background-color: #1859b9;
    border-radius: 14px;
}

h1 {
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;

}

h3 {
    font-size: 30px;
    color: #554a7e;
}

.todoList,
.completed-todoList,
.deleted-todoList {
    padding: 0;
    width: 100%;
    margin-top: 15px;
    max-height: 60vh;
    overflow-y: auto;
    font-size: 25px;
    box-sizing: border-box;
}

.todoList li {
    background: #fdf4d3;
    margin: 12px 20px;
    padding: 10px 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 22px;
    box-shadow: 2px 2px 7px 2px #778086;
}

.todoList li:hover {
    background: #dbd1ad;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    border: 3px solid #2783c0;
}

.completed-todoList li {
    background: #dcffeb;
    margin: 12px 20px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    box-shadow: 2px 2px 7px 2px #778086;
}

.completed-todoList li:hover {
    background: #b4e6c9;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}

.deleted-todoList li {
    background: #f1d0d0;
    margin: 12px 20px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    box-shadow: 2px 2px 7px 2px #778086;
}

.deleted-todoList li:hover {
    background: #ebafaf;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}

.editBtn {
    background-color: #1f1b1b;
    color: white;
    border: 1px solid #1f1b1b;
    border-radius: 10px;
    padding: 5px 13px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 5px;
}

.editBtn:hover {
    background-color: #9c9292;
}

.deleteBtn {
    background-color: #df360c;
    color: white;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    padding: 5px 13px;
    cursor: pointer;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 30px;;
}

.deleteBtn:hover {
    background-color: #972c11;
}

.date {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox {
    align-self: flex-start;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    margin-right: 11px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

.dropdown-menu {
    position: absolute;
    font-size: 14px;
    padding: 10px 0; 
    display: none;
    background-color: #92488e;
}

.dropdown-menu li {
    list-style-type: none; 
    padding: 10px;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
}

.show {
    display: block;
    background: #161616;
    border-radius: 25px;
}

.containerDiv{
    display: flex;
}

.containerDiv2{
    display: flex;
    
}